# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF54LM20B_KB_NRF54LM20B_CPUAPP

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

endif

if BOARD_NRF54LM20B_KB_NRF54LM20B_CPUAPP_NS

config BUILD_WITH_TFM
	default y

endif
